@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: .75rem;
    border-color: rgba(200, 50%, 3%, .2);

    @media (min-width: 640px) {
      font-size: .85rem;
    }

    @media (min-width: 1024px) {
      font-size: 0.9rem;
    }
  }

  :root {
    --background-default: 200 20% 98%;
    --btn-background-default: 200 10% 91%;
    --btn-background-hover-default: 200 10% 89%;
    --foreground-default: 200 50% 3%;
    --background-dark: 200 50% 3%;
    --btn-background-dark: 200 10% 9%;
    --btn-background-hover-dark: 200 10% 12%;
    --foreground-dark: 200 20% 96%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: var(--background-dark);
      --btn-background: var(--btn-background-dark);
      --btn-background-hover: var(--btn-background-hover-dark);
      --foreground: var(--foreground-dark);
    }
  }

  @media (prefers-color-scheme: dark) {
    * {
      border-color: rgba(200, 20%, 96%, .2);
    }
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  height: 100%;

  .bg-gradient-to-b {
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  }
}

.body {
  height: 100vh;
  overflow-y: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolOptions {
  width: auto;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem
    /* 32px */
  ;
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: .25rem;
}

.displayResults{
  width: 90vw;
  height: 750px;
}
/* styles/globals.css or any other global stylesheet */
.imageSkeleton {
  width: 60vw;
  height: 60vh;
  background-color: #e0e0e0;
  /* Grey background for the skeleton */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transform: translateZ(0) scale(1.0, 1.0);
  transition: transform 0.5s;
}

.imageSkeleton:hover {
  transform: translateZ(0) scale(1.02, 1.02);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 500;
}

.logo-icon {
  position: fixed;
  top: .5rem;
  left: .5rem;

  @media screen and (min-width: 1024px) {
    padding-left: .5rem;
    /* 2px */
    padding-right: .5rem;
    /* 2px */
  }
}

.menu-icon {
  position: fixed;
  top: .5rem;
  right: .5rem;
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    padding-left: .5rem;
    /* 2px */
    padding-right: .5rem;
    /* 2px */
  }
}

.code {
  position: absolute;
  bottom: 5px;
  font-size: xx-small;
  border-bottom-left-radius: .2rem;
  border-color: #374151;
}

.gallery-container {

  overflow-y: auto;
  text-align: center;
  padding: 2rem;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.gallery-list {
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.gallery-small {
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.card-container {
  padding: 1rem;
  perspective: 1000px;
  /* 3D effect */
}

.card-container img {
  transition: transform 0.5s, box-shadow 0.5s;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-container img:hover {
  transform: rotateY(10deg);
  /* 3D rotate effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.micro-account {
  font-size: xx-small;
}

.dynamic-input {
  height: 2.5rem;
  /* 40px */
  position: fixed;
  bottom: 0;
  width: 80%;
  z-index: 1000;
  padding: .25rem;

  @media screen and (min-width: 640px) {
    width: 90%;
  }
}

.form-input {
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

.submit-button {
  padding: .1rem;
  /* Button padding */
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* Border matching the form-input */
  border-radius: 4px;
  /* Border radius matching the form-input */
  background-color: var(--btn-background);
  /* Initial background color */
  color: var(--foreground);
  /* Text color */
  cursor: pointer;
  /* Changes the cursor to a pointer */
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition for color changes */
}

.submit-button:hover {
  background-color: lightgray;
  /* Background color on hover */
}

.submit-button:active {
  background-color: darken(lightgray), 5%;
  /* Slightly darken the color on click */
}