/* Custom CSS Variables */
:root {
  --max-width: 1100px;
}

.bottomInputFormFrame {
  position: fixed;
  bottom: 0;
  width: 100%; /* Add this to span the entire width */
/*  background-image: linear-gradient(to top, silver 80%, transparent 95%); */
  z-index: 10; /* Ensures it stays on top */
  color: onyx;
  background-color: silver;
  border-width: 1px;
  border-color: "onyx";
}

.chatButton {
  position: fixed;
  bottom: 5px;
  left: 5px;
}
/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Custom Code Style */
.code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 40%;
  font-size: xx-small;
  border-bottom-left-radius: .2rem;
  border-color: #374151;
}




/* Custom Animations */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
